CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-ss-01=n
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-02=y
#CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-02="luci-app-athena-led luci-i18n-athena-led-zh-cn"
# 【关键修改】：把原来双引号里的 led 插件彻底删掉，留空即可
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-02=""

CONFIG_ATH11K_MEM_PROFILE_512M=y
CONFIG_NSS_FIRMWARE_VERSION_12_5=y
#CONFIG_PACKAGE_luci-app-athena-led=m
#CONFIG_PACKAGE_luci-i18n-athena-led-zh-cn=m
# 【关键修改】：改成 is not set，或者干脆把这两行直接删掉
# CONFIG_PACKAGE_luci-app-athena-led is not set
# CONFIG_PACKAGE_luci-i18n-athena-led-zh-cn is not set
