CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq807x=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_aliyun_ap8220=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_arcadyan_aw1000=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_asus_rt-ax89x=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_buffalo_wxr-5950ax12=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_cmcc_rm2-6=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_compex_wpq873=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_dynalink_dl-wrx36=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_edgecore_eap102=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_edimax_cax1800=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_linksys_homewrk=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_linksys_mx4200v1=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_linksys_mx4200v2=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_linksys_mx4300=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_linksys_mx5300=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_linksys_mx8500=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_netgear_rax120v2=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_netgear_sxr80=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_netgear_sxs80=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_netgear_wax218=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_netgear_wax620=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_netgear_wax630=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_prpl_haze=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_qnap_301w=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_redmi_ax6-stock=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_redmi_ax6=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_spectrum_sax1v1k=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_tplink_deco-x80-5g=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_tplink_tl-er2260t=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_tplink_eap620hd-v1=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_tplink_eap660hd-v1=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_verizon_cr1000a=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_xiaomi_ax3600-stock=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_xiaomi_ax3600=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_xiaomi_ax9000-stock=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_xiaomi_ax9000=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_yuncore_ax880=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_zbtlink_zbt-z800ax=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_zte_mf269-stock=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_zte_mf269=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_zyxel_nbg7815=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_tcl_linkhub-hh500v=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_inseego_fg2000=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_netgear_rbr750=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_netgear_rbs750=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_zyxel_nwa110ax=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_zyxel_nwa210ax=y

CONFIG_ATH11K_MEM_PROFILE_512M=y
CONFIG_NSS_FIRMWARE_VERSION_11_4=y
CONFIG_ATH11K_NSS_MESH_SUPPORT=y
